<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class' : 'col-lg-5'
                    }
                })
                }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.dateOfBirth) }}
                    {{ form_row(form.biography) }}
                    <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </body>
</html>
